version: 2.1
orbs:
  release-management: salesforce/npm-release-management@4
workflows:
  version: 2
  test-and-release:
    jobs:
      - release-management/validate-pr:
          filters:
            branches:
              ignore: main
      - release-management/test-package:
          upload-coverage: true
          matrix:
            parameters:
              os:
                - linux
                - windows
              node_version:
                - latest
                - lts
                - maintenance
            exclude:
              - os: windows
                node_version: lts
              - os: windows
                node_version: maintenance
      - release-management/test-nut:
          name: nuts-on-linux
          sfdx_version: latest
          requires:
            - release-management/test-package
      - release-management/test-nut:
          name: nuts-on-windows
          sfdx_version: latest
          os: windows
          requires:
            - release-management/test-package
      - release-management/release-package:
          sign: true
          github-release: true
          requires:
            - release-management/test-package
          filters:
            branches:
              only: main
          context: CLI_CTC
  test-ts-update:
    triggers:
      - schedule:
          cron: 0 0 * * *
          filters:
            branches:
              only:
                - main
    jobs:
      - release-management/test-ts-update

