version: 2.1
orbs:
  release-management: salesforce/npm-release-management@4
parameters:
  run-auto-workflows:
    description: >
      Boolean that controls when an workflow would run.

      It is used to gate which workflows should run when github events occur.

      This parameter is used by automation to determine if a workflow will run
      within a pipeline.
    default: true
    type: boolean
  run-just-nuts:
    description: >
      Boolean that controls when the just-nuts will run.

      Default value is false and this parameter is used by automation to
      determine if

      the just-nuts workflow will run.
    default: false
    type: boolean
  sfdx_version:
    description: |
      By default, the latest version of the standalone CLI will be installed.
      To install via npm, supply a version tag such as "latest" or "6".
    default: ''
    type: string
  repo_tag:
    description: "The tag of the module repo to checkout, '' defaults to branch/PR"
    default: ''
    type: string
  npm_module_name:
    description: 'The fully qualified npm module name, i.e. @salesforce/plugins-data'
    default: ''
    type: string
workflows:
  version: 2
  test-and-release:
    when: << pipeline.parameters.run-auto-workflows >>
    jobs:
      - release-management/validate-pr:
          filters:
            branches:
              ignore: main
      - release-management/test-package:
          upload-coverage: true
          matrix:
            parameters:
              os:
                - linux
                - windows
              node_version:
                - latest
                - lts
                - maintenance
            exclude:
              - os: windows
                node_version: latest
              - os: windows
                node_version: maintenance
      - release-management/test-nut:
          name: nuts-on-linux
          sfdx_version: latest
          requires:
            - release-management/test-package
          context: na40-auth-url
      - release-management/test-nut:
          name: nuts-on-windows
          node_version: lts
          sfdx_version: latest
          os: windows
          requires:
            - release-management/test-package
          context: na40-auth-url
      - release-management/run-command-keyword:
          name: sandbox-nuts
          node_version: lts
          sfdx_version: latest
          git_key_word: '[sb-nuts]'
          timeout: 1.5h
          command: test:nuts:sandbox
          requires:
            - nuts-on-windows
            - nuts-on-linux
          context: na40-auth-url
      - release-management/release-package:
          sign: true
          github-release: true
          requires:
            - release-management/test-package
          filters:
            branches:
              only: main
          context:
            - CLI_CTC
            - AWS
            - release
  test-ts-update:
    triggers:
      - schedule:
          cron: 0 0 * * *
          filters:
            branches:
              only:
                - main
    jobs:
      - release-management/test-ts-update
  just-nuts:
    when: << pipeline.parameters.run-just-nuts >>
    jobs:
      - release-management/test-nut:
          name: just-nuts-<< matrix.os >>
          sfdx_version: << pipeline.parameters.sfdx_version >>
          sfdx_executable_path: sfdx
          repo_tag: << pipeline.parameters.repo_tag >>
          matrix:
            parameters:
              os:
                - linux
                - windows
          npm_module_name: << pipeline.parameters.npm_module_name >>
          context: na40-auth-url
  dependabot-automerge:
    triggers:
      - schedule:
          cron: '0 2,5,8,11 * * *'
          filters:
            branches:
              only:
                - main
    jobs:
      - release-management/dependabot-automerge:
          context: release
